@import '../../../../globalSCSS/color.scss';
@import '../../../../globalSCSS/size.scss';

.chatbox {
    width: 100%;
    margin: 0px;
    position: absolute;
    bottom: $bottom;
    top: $top;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loading {
    margin-left: $margin2;
}

.arrow {
    height: 25px;
    border: none;
    padding: 0px 10px;
    font-family: 'MsMedium';
    margin-top: 5px;
    border-radius: 12.5px;
    background: $color4;
    color: $white;
}

.fixed-bottom {
    background: $grayLight;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .send-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $margin2;

        & .send-box {
            height: $box;
            width: $box;
            background: $color1;
            border-radius: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
            & :hover {
                color: $white;
            }

            & .send {
                color: $white;
                font-size: $plusSize;
                padding-bottom: 8px;
                & :hover {
                    color: $white;
                }
            }
        }
    }

    & .response-bar {
        & .choice {
            border: 1px solid $color4;
            height: 30px;
            padding: 0px 10px;
            border-radius: 20px;
            background: none;
            color: $color4;
            font-family: 'MsSemiBoldItalic';
            font-size: 15px;

            &:hover {
                background: $color4;
                color: $white;
                transition: 0.3s;
            }
        }
    }
}
