@import '../../globalSCSS/color.scss';
@import '../../globalSCSS/size.scss';

.shape {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 20px;

    .left {
        div {
            width: 40px;
            margin: auto;
            position: relative;
            overflow: hidden;
            height: 40px;
        }
        div:before,
        div:after {
            content: '';
            position: absolute;
            top: 0;
            height: 40px;
            width: 40px;
            box-shadow: 0 0 0 500px $white;
            border-radius: 0 0 100% 0;
        }
    }

    & .content {
        background: $white;
        width: 250px;
        height: 150px;
        border-radius: 20px 20px 20px 0px;
        margin: 0px;
        padding: 0px;
        border: none;

        & p {
            color: $color4;
            font-size: 30px;
            font-family: 'MsBoldItalic';

            & span {
                color: $color1;
            }
        }
    }
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(60deg, $color1, $color4);
}

.help {
    border: 1px solid $white;
    height: 40px;
    margin-top: 30px;
    padding: 0px 20px;
    border-radius: 20px;
    background: none;
    font-family: 'MsSemiBoldItalic';
    color: $white;

    &:hover {
        background: $white;
        color: $color4;
        transition: 0.3s;
    }
}
