@import '../../globalSCSS/color.scss';
@import '../../globalSCSS/size.scss';

.sign {
    border: 1px solid $white;
    height: 40px;
    margin-top: 30px;
    padding: 0px 20px;
    border-radius: 20px;
    background: none;
    font-family: 'MsSemiBoldItalic';
    color: $white;

    &:hover {
        background: $white;
        color: $color4;
        transition: 0.3s;
    }
}

h3 {
    font-family: 'MsBold';
    color: $white;
    font-size: 35px;
    margin-bottom: 30px;
}

.explications {
    color: $white;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
