.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 450px;
    overflow: hidden;
    overflow: scroll;
    width: 250px;
}

.container-fiches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
