@import '../../globalSCSS/color.scss';
@import '../../globalSCSS/size.scss';

nav {
    display: flex;
    justify-content: center;
    padding: $margin1;
    margin-bottom: $margin3;
}

.home {
    border: 1px solid $color4;
    height: 40px;
    padding: 0px 20px;
    border-radius: 20px;
    background: none;
    color: $color4;
    font-family: 'MsSemiBoldItalic';

    &:hover {
        background: $color4;
        color: $white;
        transition: 0.3s;
    }
}

.title {
    color: $white;
    font-size: 18pt;
    margin-right: 20pt;
}

.link {
    padding: $margin2;
    color: $white;
    margin: $margin0;
    margin-top: $margin0;
}
