.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.filtered {
    width: 300px;
}

.chart {
    width: 350px;
}

.progress-chart {
    width: 350px;
}

.bloc-center {
    width: 550px;

    & > div {
        margin: 0px;
        padding: 0px;
    }
}
